body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

/*Header section*/
#navigation{
    width: 100%;
    background-color: #f4d6b0;
}

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-buttons{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

a{
    text-decoration: none;
    color: #2a110c;
}

#social-image{
    width: 30px;
    height: 30px;
}

#socials-container{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: -275px;
}

/*Gallery Section*/
#main-section{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 800px;
}

#gallery-section{
    margin-top: 59px;
    width: 100px;
}

#gallery-section:hover{
    cursor: pointer;
}

#gallery-image1, #gallery-image2, #gallery-image3{
    width: 90px;
    height: 90px;
}

#gallery-image:hover{
    cursor: pointer;
}

/*Main image section*/

#arrow-image-back{
    position: absolute;
    top: 594px;
    left: 433px;
    width: 100px;
}

#arrow-image-forward{
    position: absolute;
    top: 594px;
    left: 1065px;
    width: 100px;
}

#arrow-image{
    width:inherit;
    height: inherit;
}

#arrow-image:hover{
    cursor: pointer;
}

#main-image-container{
    width: 800px;
    height: 800px;
}

#main-image-container img{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 204px;
    left: 403px;
    display: none;
}

#main-image-container img.active {
    display: block;
}

#main-image-container img:first-child{
    display: block;
}


/*Review Section*/
.star{
    font-size: 24px;
    cursor: pointer;
}

.star:hover, .start:active{
    color: gold;
}

.partial-star{
    display: inline-block;
    font-size: 20px;
}
